<div class="text-right font-size-20 font-weight-bold">Total: ${{total}}</div>
<div class="row">

	<div class="table-view" ng-class="{active:isSet(1)}" ng-show="isSet(1)">

		<table class="mui-table">
			<thead>
		        <tr>
		            <th>Supplier</th>
		            <th>$ Share</th>
		            <th>$ Sales % Chg</th>
		            <th>Unit Share</th>
		            <th>Units</th>
		            <th>Units % Chg</th>
		        </tr>
		    </thead>
		  	<tr dir-paginate="table in tableData | itemsPerPage:5">
		    	<td>{{ table.Supplier }}</td>
		    	<td>{{ table.$Share }}</td>		    	
		    	<td>{{ table.$SalesChg }}</td>
		    	<td>{{ table.UnitShare }}</td>
		    	<td>{{ table.Units }}</td>
		    	<td>{{ table.UnitsChg }}</td>
		  	</tr>
		</table>
		<div class="text-center">
			<dir-pagination-controls
				class="text-center"
	        	max-size="5"
	        	direction-links="false"
	        	boundary-links="true" >
	    	</dir-pagination-controls>
		</div>

	</div>

	<div class="sales-view text-center" ng-class="{active:isSet(2)}" ng-show="isSet(2)">
		<div id="pieChart"></div>
	</div>

	<div class="unit-view" ng-class="{active:isSet(3)}" ng-show="isSet(3)">Unit Pie Chart goes here</div>

</div>

<!-- Buttons -->
<div class="text-center margin-top-50">
	<div class="btn-group view-buttons" role="group" aria-label="...">
	  <button type="button" class="btn btn-primary btn-lg raised" ng-class="{active:isSet(1)}" ng-click="setTab(1)">Table</button>
	  <button type="button" class="btn btn-primary btn-lg raised"ng-class="{active:isSet(2)}" ng-click="setTab(2)">Sales</button>
	  <button type="button" class="btn btn-primary btn-lg raised"ng-class="{active:isSet(3)}" ng-click="setTab(3)">Units</button>
	</div>
</div>
<!-- <div class="button-container">
    <a class="edit" href="https://docs.google.com/spreadsheets/d/1uCfi_rEzrFF5ZUrTU6qmgyRWPp4b-kzXLSw6wf5xp0A/edit?usp=sharing&gid=549751855">View</a>
    <div class="exit">Exit</div>
</div> -->