/*=========================================================================


							Global Styles


=========================================================================*/
.container {
/*	border:1px solid red;*/
}

.margin-top-10 {
    margin-top:10px;
}
.margin-top-15 {
	margin-top:15px;
}
.margin-top-25 {
	margin-top:25px;
}
.margin-top-50 {
	margin-top:50px;
}
.margin-top-100 {
	margin-top:100px;
}

.margin-left-15 {
    margin-left:15px;
}

.margin-right-15 {
    margin-right: 15px;
}

.font-size-20 {
    font-size: 20px;
}
.font-weight-bold {
    font-weight: bold;
}

.colorRed {
    color:#ff0000;
}

.color-gold {
    color:#f0a049;
}

.background-gold {
    background: #f0a049;
}

tr:nth-child(even) {
    color:#f0a049;
}


.logo	 { 
	width:300px; 
	height:auto;
    position: absolute;
    right:0px;
    top:0px;
}
/*=========================================================================


							Chart Page Styles


=========================================================================*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
    background-color:#f0a049;
    color:#fff;
}

.nav-tabs > li > a {
    border:none;
    border-radius: 4px 4px 0 0;
    text-transform: uppercase;
    font-weight: 700;
    color:#000;
}

#pieChartSales, #pieChartUnits {
    display: inline-block;
}

.pagination > li > a {
    border:none;
    border-radius: 20px;
}

.pagination > .active > a, .pagination > .active > a:hover {
    background-color: #f0a049;
    border-color: f0a049#;
}


.active.ng-enter {
    -webkit-animation: slideInLeft .75s;
    -moz-animation: slideInLeft .75s;
    -o-animation: slideInLeft .75s;
    animation: slideInLeft .75s;
}
/*=========================================================================


                            Dialog Styles


=========================================================================*/
.ngdialog.ngdialog-theme-default .ngdialog-content {
    width:60%;
}

.dialog-padding {
    padding: 10px 25px 0 25px;
}

.dialog-title {
    text-decoration: underline;
    font-style: italic;
    font-size:20px; 
    text-align: center;
}

.dialog-btn {
    background: none;
    border-radius: 2px;
    border:1px solid #FEC34E;
    color:#000;
    text-transform: uppercase;
    padding:8px 20px;
    margin-left:10px;
}

.dialog-btn:hover {
    color:#fff;
    background: #FEC34E;
}

label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

/* hide input */
input.radio:empty {
    margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
    color:#777;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .1em;
    color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .1em;
    color: #fff;
    background-color: #f0a049;
}

input.radio:checked ~ label {
    color: #000;
}









