/*=========================================================================


							Global Styles


=========================================================================*/
.container {
/*	border:1px solid red;*/
}

.margin-top-15 {
	margin-top:15px;
}
.margin-top-25 {
	margin-top:25px;
}
.margin-top-50 {
	margin-top:50px;
}
.margin-top-100 {
	margin-top:100px;
}

.font-size-20 {
    font-size: 20px;
}
.font-weight-bold {
    font-weight: bold;
}



.logo	 { 
	width:300px; 
	height:auto;
    position: absolute;
    left:10px;
    bottom:10px;
}
/*=========================================================================


							Chart Page Styles


=========================================================================*/
#piechart {
    display: inline-block;
}

.pagination > li > a {
    border:none;
    border-radius: 20px;
}


.active.ng-enter {
    -webkit-animation: slideInLeft .75s;
    -moz-animation: slideInLeft .75s;
    -o-animation: slideInLeft .75s;
    animation: slideInLeft .75s;
}

.view-buttons {
	color:#ff0000;
}

.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.button-container {
	position: absolute;
	bottom: -25px;
	right:-25px;
}














