<div class="dialog-container dialog-padding">
		
	<div class="dialog-title">
		Which type of wine supplier? 
	</div>
	<div class="row margin-top-15 text-center">

		<form name="supplierForm">

			<div class="col-sm-6" ng-repeat="s in suppliers">
				<input type="radio" class="radio" name="supplier" 
					id="{{s.id}}" 
					ng-model="ngDialogData.name"
					value="{{s.name}}" 
					required>
				<label for="{{s.id}}">{{s.name}}</label>
			</div>
				
			<button type="submit" class="pull-right margin-top-25 dialog-btn" 
				ng-click="openSecondDialog(ngDialogData.name)">Next</button>
			
			
		</form>


	</div>

</div>