<div class="dialog-container dialog-padding">
		
	<div class="dialog-title">
		Which time frame for {{selectedType}}?
	</div>
	<div class="row margin-top-15 text-center">

		<form name="supplierForm">

			<div class="col-sm-4" ng-repeat="week in weeks">
				<input type="radio" class="radio" name="week" id="{{week.id}}" value="{{week.id}}" required>
				<label for="{{week.id}}">{{week.name}}</label>
			</div>

			<button type="submit" class="pull-right margin-top-25 dialog-btn" ng-click="closeDialog()">Cancel</button>
			<button type="submit" class="pull-right margin-top-25 dialog-btn">Confirm</button>
			
		</form>


	</div>

</div>